.show-on-pc{
  display: flex;
}
.hide_on_pc {
  display: none;
}

/* mobile & tablet */
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 0;
  }
  .hide_on_tab {
    display: none;
  }
  .show-on-tab{
    display: flex;
  }
  .footer__body {
    display: block;
    margin: 0;
    padding: 0 10px;
  }
  .lienhe__header {
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    margin: 0;
    height: 20px;
    position: relative;
    z-index: 3;
    margin-top: 10px;
  }
  .lienhe {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    height: 30px;
    overflow: hidden;
    transition: all 0.3s linear;
    cursor: pointer;
  }

  .lienhe__item a{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  /*chinh sach*/
  .chinhsach__header {
    background-color: white;
    font-size: 14px;
    width: 200px;
    margin: 0;
    height: 20px;
    position: relative;
    z-index: 3;
    margin-top: 10px;
    font-weight: 700;
  }
  .chinhsach {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    height: 30px;
    overflow: hidden;
    transition: all 0.3s linear;
    cursor: pointer;
  }
 
  .chinhsach__item a{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  /* thong tin khac */
  .others__header {
    background-color: white;
    font-size: 14px;
    width: 200px;
    margin: 0;
    height: 20px;
    position: relative;
    z-index: 3;
    margin-top: 10px;
    font-weight: 700;
  }
  .others {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    height: 30px;
    overflow: hidden;
    transition: all 0.3s linear;
    cursor: pointer;
  }

  .others__item a{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .lienhe__item {
    margin-top: 8px;
    margin-bottom: 0;
  }
  .chinhsach__item {
    margin-top: 8px;
    margin-bottom: 0;
  }
  .others__item {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .footer__show--btn {
    align-items: center;
  }
  .footer__show--item {
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.3s linear;
  }
  .footer__show--item.show {
    height: 85px;
  }
 
  .footer__show--btn.show .footer__show--item {
    margin-top: 30px;
    opacity: 1;
  }
  .showlist__btn {
    font-weight: 900px;
    font-size: 13px;
    align-items: center;
  }
  .payment__heaiding {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
  }
  .payment__lol {
    justify-content: left;
  }
  .footer__footer {
    padding: 10px 10px;
  }

  .footer__copy {
    font-size: 13px;
    padding-right: 20px;
  }
}

/*  Mobile */
@media screen and (max-width: 739px){
  .hide_on_mobile {
    display: none;
  }
  .show-on-mb{
    display: flex;
  }
  .container__heading {
    width: 100%;

  }

  .container__heading img{
    width: 100%;
  }
  .margintop0-mb{
    margin-top: 0;
  }
}